body {
    margin: 20px;
    background: #f8b21a;
}

h1 {
    text-align: center;
    color: white;
}

p {
    padding: 30px;
    text-align: center;
    font-weight: bold;
    color: #575656;
}

footer {
    font-weight: bold;
    text-align: center;
    margin-top: 310px
}

.p-mod {
    color: #7c7c7c;
    font-weight: bold;
}

.btn {
    font-weight: bold;
}

#cardMix {
    margin-top: 35px;
}